<% unless current_user==@user %>
	  <div id="like_form">
		  <% unless current_user.like?(@post) %>
		    <%= form_for(current_user.likes.build, remote: true) do |f| %>
		  		<div><%= hidden_field_tag :post_id, @post.id %></div>
		  		<%= f.submit "Like", class: "btn btn-primary" %>
				<% end %>
		  <% end %>
	  </div>
<% end %>